#Arquivos desnecessários

Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
conposer.lock
index.php.simple
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
php.ini.sample
RELEASE_NOTE.txt
package.xml
clean.php
.htaccess.sample
.idea

#Extensoes desnecessárias

*.log
*.bak
*.bak.*
*.thumbs/
.DS_Store
Thumbs.db
.svn
*.swp
*.gz
.vscode

### WordPress ###
*.log
wp-content/backups/
wp-content/cache/
wp-content/upgrade/**/*
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/themes/twentyfourteen/
wp-content/themes/twentythirteen/
wp-content/themes/twentytwelve/
wp-content/themes/twentytwenty/
wp-content/wflogs/config-transient.php
wp-content/wflogs/config-synced.php
wp-content/wflogs/config-livewaf.php
wp-content/wflogs/attack-data.php
wp-content/wflogs/template.php
wp-content/wflogs/config.php
node_modules/
wp-admin/install.php
wp-config-sample.php

/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz