#Arquivos desnecessários
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
conposer.lock
index.php.simple
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
php.ini.sample
RELEASE_NOTE.txt
package.xml
clean.php
.htaccess.sample
.idea

#Extensoes desnecessárias
*.log
*.bak
*.bak.*
*.thumbs/
.DS_Store
Thumbs.db
.svn
*.swp
*.gz
.vscode

### WordPress ###
*.log
node_modules/**/*
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
