// GRID CONFIG
//--------------------------------------
$columns: 12;
$larguraColuna: (100%/$columns);
$gutter-width: 15;
$font-base: 16;
$larguraContent: 1200px;

// mix colunas grid
@mixin column($totalColunas, $margin-left: $gutter-width, $margin-right: $margin-left, $float:left, $resume: false) {
    width: $larguraColuna*$totalColunas;

    @if ($resume=false) {
        float: $float;

        @if ($margin-left !=0) {
            padding-left: $margin-left * 1px;
        }

        @if ($margin-right !=0) {
            padding-right: $margin-right* 1px;
        }
    }
}

@mixin width($totalColunas) {
    width: $larguraColuna*$totalColunas;
}

// mix grid flex
@mixin flex($totalColunas) {
    flex: 0 1 $larguraColuna*$totalColunas;
    max-width: $larguraColuna*$totalColunas;
}

// mix espaço esquerda grid
@mixin prefix($totalColunas) {
    margin-left: $larguraColuna*$totalColunas;
}

// mix espaço direita grid
@mixin sufix($totalColunas) {
    margin-right: $larguraColuna*$totalColunas;
}