// CORES BOXES
//--------------------------------------
$info-border: #e3f6fd;
$error-border: #ffdddd;
$success-border: #dfffc6;
$warning-border: #ffe8b1;
$box-txt: #555;


// CORES FORMULÁRIOS
//--------------------------------------
$input-color: #333;
$input-bg: #ffffff;
$input-border: rgba(0, 0, 0, .3);
$input--placeholder: $input-color;
$input-error--placeholder: #b01717;


// CORES
//--------------------------------------
$color-white: #fff;
$color-gray: #333;
$color-black: #000;
$color-red: #f00;