// CORES BOXES
//--------------------------------------
$info-border: #e3f6fd;
$error-border: #ffdddd;
$success-border: #dfffc6;
$warning-border: #ffe8b1;
$box-txt: #555;


// CORES FORMULÁRIOS
//--------------------------------------
$input-color: #5ea18d;
$input-bg: #ffffff;
$input-border: #5ea18d;
$input-placeholder: #5ea18d;
$input-bg-submit: #5ea18d;
$input-error-placeholder: #f00;


// CORES
//--------------------------------------
$color-theme: #2e4d49;
$color-white: #fff;
$color-gray: #333;
$color-black: #000;
$color-red: #f00;


// BOTÕES
//--------------------------------------
$btn-border-radius: 25px;
$btn-padding: 15px;
$btn-font-color: #fefefe;
$btn-font-size: 16px;
$btn-height: 40px;


// TRANSITIONS AND TRANSFORM
//--------------------------------------
$transition: all 0.2s ease;
$transform: scale(1.05);


// MENUS
$menu-color: #fefefe;
$menu-font-size: 17px;
$menu-color-hover: #c73e53;


// FOOTER
$bg-footer: #2e4d49;


// HEADER
$bg-top-header: #2e4d49;
$bg-menu-color: #5ea18d;
