// TITLE DEFAULT PAGES
//--------------------------------------
.page-title {
    h1 {
        color: $color-white;
        font-size: 30px;
        font-weight: 500;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 1200px) {
            margin: 0px auto;
            text-align: center;
        }
    }
}
