// SLIDER PAGE HOME
//--------------------------------------
.slider-home {
    width: $full;
    height: auto;

    a, img {
        width: $full;
        height: auto;
        display: block;
    }
}
